<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ドアテン セッテー</title>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/skyblue/css/skyblue.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <div id="event-description-templates" class="container">
      <div class="row">
        <div class="col md-12">
          <h1>テンプレート</h1>
        </div>
      </div>
      <div class="row">
        <div class="col md-12">
          <form>
            <label>
              name:
              <input class="form-control" v-model="newTemplateName"/>
            </label><br/>
            <label>
              content:
              <textarea class="form-control" v-model="newTemplateContent"></textarea>
            </label><br/>
            <button class="btn" v-on="click: addTemplate">Add</button>
          </form>
        </div>
        <hr/>
      </div>
      <div class="row">
        <div class="col md-12" v-repeat="templates">
          <form>
            <label>
              name: <input class="form-control" v-model="name"/>
            </label><br/>
            <label>
              content:<br/>
              <textarea class="form-control" v-model="content"></textarea>
            </label><br/>
            <textarea class="template-comment" v-model="content | templateComment" readonly></textarea>
            <button class="btn btn-dark" v-on="click: copy(this, $event)">templateをコピー</button>
            <button class="btn btn-error" v-on="click: removeTemplate(this, $event)">×</button>
          </form>
          <hr/>
        </div>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/jsdiff/diff.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
  </body>
</html>
